#header {
  background: url("images/header.jpeg");
  /* background: url("imgs/header.jpeg") center center / cover no-repeat; */
}

#header .dis{
  padding-top: 4.5rem;
  font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

#header a{
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  font-size: 1.1rem;
}

